.reviews {
  background: var(--extraligth-color);
  padding: 68px 0;
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-item);
    .item {
      display: flex;
      flex-direction: column;
      gap: var(--gap-nav);
    }
  }
}
@media (max-width: 768px) {
  .reviews {
    padding: 20px 20px 32px;
    .wrapper {
      grid-template-columns: 1fr;
      gap: 20px;
      .item {
        gap: 46px;
      }
    }
  }
}