.slide {
  background: var(--extraligth-color);
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: var(--gap-item);
    h2 {
      text-align: center;
    }
    .slider {
      display: flex;
      .wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .item {
          max-width: 341px;
          width: 100%;
          height: 100px;
          background: var(--white-color);
        }
      }
      .prev {

      }
      .next {

      }
    }
  }
}