.swiper {
  width: 1087px;
  padding: 0 13px 66px;
  .swiper-slide {
    height: 100%;
  }
  .swiper-pagination-bullet-active {
    background: var(--primary-color) !important;
  }
  .swiper-pagination-bullet {
    background: var(--mid-color);
  }
}

@media (max-width: 768px) {
  .swiper {
    width: 768px;
    padding: 0 20px 66px;
  }
}