.thrid {
  .wrapper {
    display: flex;
    align-items: center;
    gap: var(--gap-item);
    .text {
      display: flex;
      flex-direction: column;
      gap: 18px;
      p {
        color: var(--dark-color);
      }
    }
    img {
      object-fit: contain;
    }
  }
}